<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroke Analytics</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
        />
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand" href="index.html">Capstone Project</a>
        </nav>
    </div>
    <div class="jumbotron">
        <h3 class="display-4">Are you stroked?</h3>
    </div>
<body>
    <form action="/predict" method="POST">
        <label>Age (1-100)</label>
        <input type="text" name="age">
        <label for="gender"> Select Gender:</label>
        <select name="gender" id="gender">
            <option
        value="Female">Female</option>
            <option
        value="Male">Male</option>
            <option
        value="Other">Other</option>
        </select>

        <label for="ever_married"> Are You Married?:</label>
        <select name="ever_married" id="ever_married">
            <option
        value="No">No</option>
            <option
        value="Yes">Yes</option>
        </select>

        <label for="hypertension"> Do you have hypertension? </label>
        <select name="hypertension" id="hypertension">
            <option
        value="No">No</option>
            <option
        value="Yes">Yes</option>
        </select>

        <label for="heart_disease"> Do you have heart disease?:</label>
        <select name="heart_disease" id="heart_disease">
            <option
        value="No">No</option>
            <option
        value="Yes">Yes</option>
        </select>

        <label for="smoking_status"> Do you smoke?:</label>
        <select name="smoking_status" id="smoking_status">
            <option
        value="former">I used to</option>
            <option
        value="never smoked">No</option>
            <option
        value="smokes">I surely do</option>
            <option
        value="unknown">Tis a mystery</option>
        </select>

        <input type="submit" value="Submit">

    </form>


</body>
</html>


