html, body {
    font-family: 'Verdana', sans-serif;
 
}

h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5rem;
    font-weight: 1000;
    letter-spacing: 2px;
    text-align: center;
    color: blue;
}

h2 {
    font-family:'Franklin Gothic Medium', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: right;
}

h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #020608;
}

h4 {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.0rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: right;
    color: #081720;
    border-color: blue;  
    border-width: .25em;  
    border-style: double;  
}

p {
    font-family: 'Verdana', sans-serif;
}
